:root {
	--header-height: 60px;
	--soft-pink: #fadcdc;
	--soft-pink-rgb: 250, 220, 220;
	--olive-green: #96963c;
	--olive-green-rgb: 150, 150, 60;
	--forest-blue: #284a46;
	--forest-blue-rgb: 40, 74, 70;
	--main-winter-color: var(--soft-pink);
	--main-summer-color: var(--olive-green);
	--navbar-background: var(--main-season-color);
}

// Font //

body {
	font-family: "Montserrat", sans-serif;
	color: var(--forest-blue);
}

h1 {
	font-size: 36px;
	padding-bottom: 20px;
	margin: 0;
}

h3 {
	font-size: 26px;
	margin: 0;
	padding: 12px 0;

}

h4 {
	font-size: 24px;
	margin: 0;
	padding-bottom: 20px;
}

h5 {
	font-size: 18px;
	margin: 0;
	padding-bottom: 5px;
}

h6 {
	font-size: 15px;
	padding-bottom: 20px;
	margin: 0;
}

.container {
	padding: 0 10%;

	@include small-desktop {
		padding: 0 5%;
	}
}

.top-50 {
	padding-top: 50px;
}

.top-100 {
	padding-top: 100px;
}

.bottom-30 {
	padding-bottom: 30px;
}

.bottom-100 {
	padding-bottom: 100px;
}

// Menu Nav //

.menu-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 90%;
	height: var(--header-height);
	padding: 0 5%;
	display: flex;
	align-items: center;
	gap: 30px;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s ease-in-out, background-color 1s;
	body.menu-opened & {
		opacity: 0;
		pointer-events: none;
	}
	body.scrolled & {
		background-color: var(--navbar-background);
	}
	.nav-bar-left {
		flex: 1;
		display: flex;
		align-items: center;
		gap: 30px;
		#hamburger-menu {
			height: 30px;
			width: 30px;
			cursor: pointer;
			svg {
				width: 100%;
				height: 100%;
				display: block;
				path {
					fill: var(--forest-blue);
				}
				&:hover path {
					filter: invert(50%)
				}
			}
		}
		.season-selector {
			display: flex;
			align-items: center;
			gap: 30px;
			.season-selector-item {
				a {
					color: var(--forest-blue);
					text-transform: uppercase;
					text-decoration: none;
				}
			}
		}
	}
	.menu-logo {
		width: 70px;
		height: auto;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.6s ease-in-out, background-color 1s;
		position: relative;
		top: 2px;
		body.scrolled & {
			opacity: 1;
			pointer-events: auto;
		}
	}
	.nav-bar-right {
		flex: 1;
	}
}


.menu-icon {
	width: 50px;
	height: auto;
	display: block;
}

#side-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.6s ease-in-out;
	display: flex;
	body.menu-opened & {
		opacity: 1;
		pointer-events: auto;
	}
}

.menu-left {
	width: 50%;
	background-color: var(--soft-pink);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	@include tablet {
		width: 100%;
	}
}

.menu-right {
	position: relative;
	width: 50%;
	background-color: var(--forest-blue);
	background-size: cover;
	background-position: center;

	img {
		display: none;
		width: 100%;
		height: 100%;
		object-fit: cover;

		&.show {
			display: block;
		}
	}

	.logo-header {
		position: absolute;
		width: 25%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		svg {
			width: 100%;
			height: 100%;
			path {
				fill: var(--soft-pink);
			}
		}
	}

	@include tablet {
		display: none;
	}
}

.menu-right::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--forest-blue-rgb), 0.5);
	pointer-events: none;
	z-index: 2;
}

.close-menu {
	position: absolute;
	top: 4%;
	padding-left: 12px;
	color: var(--forest-blue);
	cursor: pointer;
	margin-bottom: 20px;
	font-size: 1.2em;
	z-index: 99;

	:hover {
		color: var(--olive-green);
	}
}

.menu-items {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-item a {
	display: block;
	padding: 10px;
	color: var(--forest-blue);
	text-decoration: none;
	transition: color 0.3s;
	font-size: 1.1em;
}

.menu-item a:hover {
	color: var(--olive-green);
}


// Footer //

.newsletter-section {
	width: 100%;
	padding: 70px 0;
	background-color: var(--forest-blue);
	color: var(--soft-pink);
}

.newsletter-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-transform: uppercase;

	h1 {
		font-size: 55px;
		padding: 0;

		@include tablet {
			font-size: 30px;
		}
	}
}

.newsletter-text {
	width: 40%;
	text-align: left;
}

.newsletter-form {
	margin-bottom: 10px;
	width: 50%;
	text-align: right;
}

.newsletter-form label {
	position: absolute;
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	width: 1px;
	height: 1px;
	white-space: nowrap;
}

.newsletter-form input[type="email"] {
	padding: 10px;
	border: none;
	border-bottom: 1px solid var(--soft-pink);
	background-color: transparent;
	width: 60%;
	margin-right: 10px;
	color: var(--soft-pink);
}

@media (max-width: 768px) {
	.newsletter-container {
		flex-direction: column;
		text-align: center;
	}

	.newsletter-text,
	.newsletter-form {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.newsletter-form input[type="email"] {
		width: 80%;
		margin-right: 0;
		margin-bottom: 10px;
	}
}

.footer {
	.info {
		.contact {
			order: 3;
		}
		position: relative;
		padding-top: 120px;
		background-color: var(--soft-pink);

		p {
			margin: 0;
		}

		a {
			color: inherit;
			text-decoration: none;
		}

		a:hover {
			color: var(--olive-green);
			text-decoration: underline;
		}

		.adress {
			width: 15%;
		}

		.tel,
		.email {
			display: flex;
			align-items: baseline;
			gap: 10px;

		}

		@include tablet {
			padding-top: 50px;
			display: flex;
			flex-direction: column;
		}
	}
}

.social-media {
	display: flex;
	gap: 15px;
	order: 4;

	a {
		height: 25px;
		width: 25px;
	}

	svg {
		height: 100%;
		width: 100%;

		path {
			fill: var(--forest-blue);
		}
	}

	@include tablet {
		padding-top: 50px;
	}
}

.copyright {
	order: 5;

	p {
		font-size: 12px;
	}
}

.signature-footer {
	position: absolute;
	width: 15%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	order: 2;

	svg {
		width: 100%;
		height: 100%;

		path {
			fill: var(--olive-green);
		}
	}

	@include tablet {
		width: 50%;
		position: relative;
	}
}

.logo-footer {
	position: absolute;
	width: 15%;
	left: 50%;
	transform: translateX(-50%);
	top: 20%;
	order: 1;


	svg {
		width: 100%;
		height: 100%;

		path {
			fill: var(--forest-blue);
		}
	}

	@include tablet {
		width: 50%;
		position: relative;
	}
}

// Button //

.linkBtn {
	display: inline-block;
	padding: 12px 16px;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	color: var(--forest-blue);
	background-color: #fff;
	border: 0.1px solid var(--forest-blue);
	cursor: pointer;
	transition: background-color 0.5s ease;
	text-transform: uppercase;
}

.linkBtn:hover {
	background-color: var(--forest-blue);
	color: var(--soft-pink);
}
