:root {
	--header-height: 120px;
	--header-scrolled-height: 90px;
	--soft-pink: #fadcdc;
	--soft-pink-rgb: 250, 220, 220;
	--olive-green: #96963c;
	--olive-green-rgb: 150, 150, 60;
	--forest-blue: #284a46;
	--forest-blue-rgb: 40, 74, 70;
	--main-winter-color: var(--soft-pink);
	--main-summer-color: var(--olive-green);
	--icon-size: 70px;

	@include small-tablet {
		--header-height: 60px;
	}

	@include phone {
		--icon-size: 50px;
	}
}

// Font //
/* BigCaslon - Regular */
@font-face {
	font-family: 'BigCaslon';
	src: url('../webfonts/BigCaslon-Regular.woff2') format('woff2'),
		url('../webfonts/BigCaslon-Regular.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* BigCaslon - Italic (Regular Italic) */
@font-face {
	font-family: 'BigCaslon';
	src: url('../webfonts/BigCaslon-RegularItalic.woff2') format('woff2'),
		url('../webfonts/BigCaslon-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

/* BigCaslon - Bold */
@font-face {
	font-family: 'BigCaslon';
	src: url('../webfonts/BigCaslon-Bold.woff2') format('woff2'),
		url('../webfonts/BigCaslon-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

/* BigCaslon - Bold Italic */
@font-face {
	font-family: 'BigCaslon';
	src: url('../webfonts/BigCaslon-BoldItalic.woff2') format('woff2'),
		url('../webfonts/BigCaslon-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

/* BigCaslon - Black */
@font-face {
	font-family: 'BigCaslon';
	src: url('../webfonts/BigCaslon-Black.woff2') format('woff2'),
		url('../webfonts/BigCaslon-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

/* BigCaslon - Black Italic */
@font-face {
	font-family: 'BigCaslon';
	src: url('../webfonts/BigCaslon-BlackItalic.woff2') format('woff2'),
		url('../webfonts/BigCaslon-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

/* DesMontilles */
@font-face {
	font-family: "DesMontilles";
	src: url('../webfonts/font.woff2') format('woff2'),
		url('../webfonts/font.woff') format('woff');
}

/* Kozuka Mincho Medium */

@font-face {
	font-family: "KozukaMincho";
	src: url('../webfonts/KozukaMinchoMedium.woff2') format('woff2'),
		url('../webfonts/KozukaMinchoMedium.woff') format('woff');
	font-weight: 500;
  	font-style: normal;
}

body {
	font-family: "Montserrat", sans-serif;
	color: var(--forest-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'BigCaslon';
	font-weight: normal;
	font-style: normal;
	body.translatepress-ja & {
		font-family: "KozukaMincho";
  		font-style: normal;
		font-weight: 500;
	}

}

h1 {
	font-size: 36px;
	padding-bottom: 20px;
	margin: 0;
}

h3 {
	font-size: 26px;
	margin: 0;
	padding: 12px 0;

}

h4 {
	font-size: 24px;
	margin: 0;
	padding-bottom: 20px;
}

h5 {
	font-size: 18px;
	margin: 0;
	padding-bottom: 5px;
}

h6 {
	font-size: 15px;
	padding-bottom: 20px;
	margin: 0;
}
p {
	line-height: 1.5;
	body.translatepress-ja & {
		font-family: "Noto Sans JP", sans-serif;
  		font-style: normal;
		font-weight: 400;
	}
}

.container {
	padding: 0 10%;
	width: 80%;

	@include small-desktop {
		padding: 0 5%;
		width: 90%;
	}
}

.top-50 {
	padding-top: 50px;
}

.top-100 {
	padding-top: 100px;
}

.bottom-30 {
	padding-bottom: 30px;
}

.bottom-100 {
	padding-bottom: 100px;
}
strong {
	color: var(--olive-green);
	font-family: 'BigCaslon';
	font-weight: normal;
	font-style: italic;
	body.translatepress-ja & {
			 font-family: "KozukaMincho";
			 font-style: normal;
			 font-weight: 500;
		  }
 }

// Menu Nav //

.menu-nav-bar {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: var(--header-height);
	max-height: var(--header-height);
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s ease-in-out, background-color 1s, max-height 1s;
	background-color: var(--soft-pink);
	display: flex;
	align-items: center;

	body.menu-opened & {
		opacity: 0;
		pointer-events: none;
	}

	body.page-template-page-home-page & {
		background: transparent;
		position: fixed;

		.menu-logo {
			opacity: 0;
			pointer-events: none;
		}
	}

	body.admin-bar & {
		top: 32px;
	}

	body.scrolled & {
		background-color: var(--soft-pink);
		max-height: var(--header-scrolled-height);
	}

	.container {
		display: flex;
		align-items: center;
		gap: 1.5vw;
	}

	.nav-bar-left {
		flex: 1;
		display: flex;
		align-items: center;
		gap: 1.5vw;

		#hamburger-menu {
			height: 30px;
			width: 30px;
			cursor: pointer;

			svg {
				width: 100%;
				height: 100%;
				display: block;

				path {
					fill: var(--forest-blue);
				}

				&:hover path {
					filter: invert(50%)
				}
			}
		}
	}

	.menu-logo {
		width: 110px;
		height: auto;
		pointer-events: auto;
		transition: opacity 0.6s ease-in-out, background-color 1s;
		position: relative;
		top: 2px;

		@include small-tablet {
			width: 90px;
		}

		body.scrolled & {
			opacity: 1;
			pointer-events: auto;
		}

		svg {
			fill: var(--forest-blue);

			text {
				fill: var(--forest-blue) !important;
			}
		}
	}

	.nav-bar-right {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.book-btn {
			background: var(--forest-blue);
			color: var(--soft-pink);
			padding: 13px min(4vw, 50px) 10px;
		}
	}

	.season-selector {
		.season-selector-item {
			span {
				max-height: 20px;
				opacity: 1;
				padding-bottom: 5px;
				overflow: hidden;
				transition: opacity .5s, max-height 1s, padding-bottom 1s;

				body.scrolled & {
					opacity: 0;
					max-height: 0;
					padding-bottom: 0;
				}
			}
		}
	}

	@include tablet {
		.season-selector {
			display: none;
		}
	}
}

.season-selector {
	display: flex;
	align-items: center;
	gap: 30px;

	.season-selector-item {
		a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: var(--forest-blue);
			text-transform: uppercase;
			text-decoration: none;

			span {
				font-family: 'BigCaslon';
				font-weight: normal;
				font-style: normal;
				padding-bottom: 5px;
				body.translatepress-ja & {
					font-family: "KozukaMincho";
					  font-style: normal;
					font-weight: 500;
				 }
			}

			img {
				width: var(--icon-size);
				height: var(--icon-size);
			}
		}
	}
}


.menu-icon {
	width: 50px;
	height: auto;
	display: block;
}

#side-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.6s ease-in-out;
	display: flex;

	body.menu-opened & {
		opacity: 1;
		pointer-events: auto;
	}
}

.menu-left {
	position: relative;
	width: 50%;
	background-color: var(--soft-pink);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.season-selector {
		padding-bottom: 50px;
	}

	.season-selector,
	.menu-item,
	.social-media {
		padding-left: 10%;
	}

	@include tablet {
		width: 100%;
	}
}

.menu-right {
	position: relative;
	width: 50%;
	background-color: var(--forest-blue);
	background-size: cover;
	background-position: center;

	img {
		display: none;
		width: 100%;
		height: 100%;
		object-fit: cover;

		&.show {
			display: block;
		}
	}

	.logo-header {
		position: absolute;
		width: 25%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	@include tablet {
		display: none;
	}
}

.menu-right::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--forest-blue-rgb), 0.5);
	pointer-events: none;
	z-index: 2;
}

.close-menu {
	position: absolute;
	top: 2%;
	right: 2%;
	color: var(--forest-blue);
	cursor: pointer;
	font-size: 1.2em;
	z-index: 99;

	:hover {
		color: var(--olive-green);
	}
}

.menu-items {
	font-family: 'BigCaslon';
	font-weight: normal;
	font-style: normal;
	list-style: none;
	margin: 0;
	padding-left: 0;
	body.translatepress-ja & {
		font-family: "KozukaMincho";
  		font-style: normal;
		font-weight: 500;
	 }
}

.menu-item a {
	display: block;
	padding: 10px 0;
	color: var(--forest-blue);
	text-decoration: none;
	transition: color 0.3s;
	font-size: 1.1em;
}

.menu-item a:hover {
	color: var(--olive-green);
}


// Footer //

.newsletter-section {
	width: 100%;
	padding: 60px 0 70px;
	background-color: var(--forest-blue);
	color: var(--soft-pink);

	@include tablet {
		padding: 70px 0;
	}

	.newsletter-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		text-transform: uppercase;
		gap: 20px;
		@include tablet {
			grid-template-columns: 1fr;
		}
		.hbspt-form {
			max-width: unset;
			form {
				width: 100%;
				display: grid;
				grid-template-columns: 1fr auto;
				grid-template-rows: auto auto;
				gap: 0 10px;
				@include phone {
					grid-template-columns: 1fr;
					grid-template-rows: auto auto auto;
					gap: 0;
				}
				.hs_email {
					grid-row: 2;
					margin-bottom: 0 !important;
					@include phone {
						grid-row: 1;
						margin-bottom: 20px !important;
					}
					label {
						display: none;
					}
					input {
						padding: 0 10px;
					}
				}
				.hs-submit {
					grid-row: 2;
				}
				.hs_error_rollup {
					grid-row: 1;
					@include phone {
						grid-row: 3;
					}
				}
				.actions {
					padding: 0 !important;
				}
				.hs-error-msgs {
					display: none;
				}
			}
		}

		h1 {
			font-size: min(3.7vw, 55px);
			padding: 0;
			text-align: left;
			position: relative;
			top: .7vw;

			@include tablet {
				font-size: 20px;
				width: 100%;
				min-width: unset;
				top: 0;
			}
		}
	}
}

.footer {
	.info {
		overflow: hidden;

		.contact {
			padding: 0 10%;
			z-index: 2;
			order: 3;
			@include small-desktop {
				padding: 0 5%;
			}
		}

		position: relative;
		padding: 70px 0;
		background-color: var(--soft-pink);

		p {
			margin: 0;
		}

		a {
			color: inherit;
			text-decoration: none;
			body.translatepress-ja & {
				font-family: "Noto Sans JP", sans-serif;
				  font-style: normal;
				font-weight: 400;
			}
		}

		a:hover {
			color: var(--olive-green);
			text-decoration: underline;
		}

		.tel,
		.email {
			display: flex;
			align-items: baseline;
			gap: 10px;

		}
		.header-content {
			position: absolute;
			order: 2;
			@include tablet {
				position: relative;
				padding-bottom: 50px;
			}
		}

		@include tablet {
			display: flex;
			flex-direction: column;
		}
	}
}

.social-media {
	z-index: 2;
	display: flex;
	gap: 15px;
	order: 4;

	img {
		height: var(--icon-size);
		width: var(--icon-size);
	}

	@include tablet {
		padding-top: 50px;
	}
}

.copyright {
	z-index: 2;
	order: 5;
	font-family: 'BigCaslon';
	font-weight: normal;
	font-style: normal;

	p {
		font-size: 12px;
	}
}

.signature-footer {
	position: relative;
	z-index: 2;
	bottom: 15%;
	font-size: clamp(40px, 5vw, 50px);
	margin: 0;
	line-height: 0.9;
	font-weight: 100;
	color: var(--olive-green);
	font-family: "DesMontilles";
	transform: rotate(-3deg);
	body.translatepress-ja & {
		font-family: "Shippori Mincho", serif;
		font-weight: 600;
		font-style: normal;
	 }
}

.logo-footer {
	z-index: 2;
	position: absolute;
	width: 200px;
	left: 50%;
	transform: translateX(-50%);
	top: 0%;
	padding: 53px;
	order: 1;


	svg {
		width: 100%;
		height: 100%;

		path {
			fill: var(--forest-blue);
		}
	}

	@include tablet {
		padding: 0;
		position: relative;
	}
}

// Button //

.linkBtn {
	font-family: 'BigCaslon';
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	padding: 13px 16px 10px;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	color: var(--forest-blue);
	background-color: #fff;
	border: 0.1px solid var(--forest-blue);
	cursor: pointer;
	transition: background-color 0.5s ease;
	text-transform: uppercase;
	body.translatepress-ja & {
		font-family: "KozukaMincho";
  		font-style: normal;
		font-weight: 500;
	 }
}

.linkBtn:hover {
	background-color: var(--forest-blue);
	color: var(--soft-pink);
}

.trp_language_switcher_shortcode {
	position: relative;
	top: 2px;
	padding: 0 12px 0 0;

	.trp-language-switcher {
		display: flex;
		align-items: center;
		width: auto;
		height: auto;

		&:after {
			cursor: pointer;
			content: '\f078';
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			position: absolute;
			right: 0;
		}

		.trp-ls-shortcode-current-language {
			background: transparent;
			border: none;
			padding: 0;
		}

		.trp-ls-shortcode-language {
			background: transparent;
			border: none;
			padding: 0;
		}

		>div>a {
			text-align: center;
			cursor: pointer;
			color: var(--forest-blue);
			font-family: 'BigCaslon', ui-sans-serif;
			body.translatepress-ja & {
				font-family: "KozukaMincho";
				  font-style: normal;
				font-weight: 500;
			 }

			&:hover {
				background: transparent;
			}
		}
	}
}

 
