.contact-title {
   display: flex;
   align-items: center;
   flex-direction: column;
   padding-bottom: 100px;

   h1 {
      padding-bottom: 0;
   }

   

   .contact-data {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: center;
      justify-items: center;

      span {
         flex: 1;
         align-self: center;
         height: 30px;
         border: 1px solid var(--olive-green);
         background-color: var(--olive-green)
      }

      div:last-child {
         border-left: 1px solid var(--olive-green);
      }

      div {
         padding-left: 20px;
      }

      a {
         text-decoration: none;
         color: inherit;
      }

      p {
         margin: 5px 0;
      }
   }
   @include small-desktop {
      padding-bottom: 0;
   }
}

.contact {
   padding: 100px 10%;
   .side-image {
      padding-top: 0;
   }

   .shadow {
      left: auto;
      right: -8%;
   }

   .side-text {
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      p {
         padding: 0;
         margin: 0;
      }

      h5 {
         width: auto;
         color: var(--olive-green);
         padding-top: 20px;
         padding-bottom: 40px;
      }

      @include tablet {
         padding-top: 0;
         padding-bottom: 50px;
      }
   }
   @include small-desktop {
		padding: 100px 5%;
	}

   @include tablet {
      .section-text-image {
         padding-top: 50px;
      }
   }

}

.access {
   .side-text {
      padding-top: 0;

      h1 {
         font-size: 36px;
      }

      p {
         width: auto;
      }

      .access-text {
         padding-top: 40px;
      }

      .travel-option {
         padding-top: 20px;

         img {
            padding: 10px 0;
            height: 25px;
            width: 25px;

         }

         h6 {
            color: var(--olive-green);
         }
      }
   }

   .contact-title {
      padding-top: 0;
   }

   .side-image {
      iframe {
         width: 100%;
         height: auto;
         aspect-ratio: 1;
         @include tablet {
            aspect-ratio: 1.5;
         }
      }

      img {
         width: 100%;
         height: auto;
         aspect-ratio: 1;
         object-fit: cover;
         @include tablet {
            aspect-ratio: 1.5;
         }
      }
   }
   @include tablet {
      padding: 0 5%;
   }
   
}

.contact-signature {
   font-size: 30px;
   margin: 0;
   line-height: 0.9;
   font-weight: 100;
   color: var(--olive-green);
   font-family: "DesMontilles";
   transform: rotate(-5deg);
}