.restaurant {
   padding-bottom: 100px;
   .section-text-image {
      width: auto;
   }

   .side-text {
      
      h1 {
         padding-bottom: 0;
      }

      .signature {
         padding-bottom: 100px;
      }
   }

   .side-image {
      padding-top: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
         width: 80%;
         display: flex;
         padding: 60px 0
      }

      .buttons {
         display: flex;
         gap: 20px;
         padding: 70px 10%;
         align-self: flex-start;
         @include tablet {
            padding: 20px 10%;
         }
      }

      .side-img {
         display: flex;
         height: 400px;
         width: 100%;

         img {
            height: 100%;
            width: 100%;
            object-fit: cover;
         }

      }
      @include tablet {
         padding-top: 100px;
      }
   }
   @include tablet {
      padding-bottom: 50px;
   }
}

.shadow-image {
   position: relative;
   display: flex;
   height: 650px;
   width: 80%;

   img {
      height: 100%;
      width: 100%;
      object-fit: cover;
   }

   .front {
      position: relative;
      z-index: 2;
      width: 100%;
   }

   .shadow {
      position: absolute;
      height: 650px;
      width: 100%;
      left: -8%;
      bottom: -5%;
      z-index: 1;
      @include tablet {
         height: 450px;
      }
   }
   .shadow:hover {
      z-index: 2;
   }
   @include tablet {
      margin: 0 10%;
      height: 450px;
   }
   .lock {
      z-index: 1 !important;
   }

}


.chef {
   .shadow {
      left: auto;
      right: -8%;
   }
   @include tablet {
      padding-bottom: 100px;
      .side-image {
         padding-top: 0;
      }
   }
}

.opening .side-image {
   padding-top: 0;
   .side-img {
      height: 100%;
      justify-content: space-between;
      img {
         height: 80%;
         width: 48%;
         @include tablet {
            height: 400px;
         }
         @include phone {
            width: 100%;
         }
      }
      img:nth-child(2) {
         align-self: flex-end;
         @include tablet {
            align-self: auto;
         }
      }
   }
   @include tablet {
      padding-bottom: 50px;
   }
}
.opening .side-text {
   h1 {
      padding-bottom: 50px;
      width: 100%;
   }
   p {
      padding-left: 0;
      width: 100%;
   }
   .linkBtn {
      margin-left: 0;
   }
}