.room-details {
   display: flex;
   padding-top: 5%;
   justify-content: space-between;
   @include tablet {
      flex-direction: column-reverse;
   }
}

.details {
   width: 55%;
   @include tablet {
      width: 100%;
   }
}

.basic-info {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   padding: 0;
   padding-bottom: 50px;

   div {
      display: flex;
      gap: 10px;
      align-items: center;
   }

   li {
      list-style: none;
   }

   svg {
      height: 28px;
      width: 28px;

      path {
         fill: var(--soft-pink);
      }
   }

}

.amenities {
   display: grid;
   grid-template-columns: 1fr 1fr;
   flex-wrap: wrap;
   padding: 0;

   li {
      display: flex;
      gap: 20px;
      align-items: center;
      list-style: none;
   }

   img {
      height: 50px;
      width: 50px;
   }
}
.this-suite{
   ul {
      padding: 0 0 0 20px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
   }
   li::marker {
      color: var(--soft-pink);
  }
}


.side-img {
   width: 40%;
   @include tablet {
      width: 90%;
      display: grid;
      height: 750px;
   }
   @include small-tablet {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      width: 100%;
      padding-top: 13%;
      gap: 15px;
   }

}

.top-image {
   position: relative;
   left: 50%;
   bottom: 37%;
   width: 48.5%;
   height: 487px;
   z-index: 1;
   img{
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   @include tablet {
      bottom: 85%;
   }
   @include small-tablet {
      width: 100%;
      height: 250px;
      left: 0;
      bottom: 0;
      padding-bottom: 15px;
   }
   
}

.base-image {
   position: relative;
   width: 75.5%;
   height: 670px;
   img{
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   @include small-tablet {
      width: 100%;
      height: 250px;
   }
   
}
